* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e3f2fd;
}

h1 {
  background-color: #64b5f6;
  padding: 25px;
  border: 5px dotted rgba(13, 71, 161, 0.5);
  color: #1565c0;
  border-radius: 30px;
  width: 300px;
}
